{
  "service":{
    "path":"{{`{{toSnakeCase .ServiceName}}`}}{{fileSeparator}}pkg{{fileSeparator}}service",
    "file_name":"service.go",
    "interface_name":"{{`{{toUpperFirstCamelCase .ServiceName}}`}}Service",
    "struct_name":"stub{{`{{toCamelCase .ServiceName}}`}}Service"
  },
  "middleware":{
    "name":"middleware.go"
  },
  "endpoints":{
    "path":"{{`{{toSnakeCase .ServiceName}}`}}{{fileSeparator}}pkg{{fileSeparator}}endpoints",
    "file_name":"endpoints.go"
  },
  "transport":{
    "path":"{{`{{toSnakeCase .ServiceName}}`}}{{fileSeparator}}pkg{{fileSeparator}}{{`{{.TransportType}}`}}",
    "file_name":"handler.go"
  },
  "cmd":{
   "path":"cmd{{fileSeparator}}{{`{{toSnakeCase .ServiceName}}`}}",
   "file_name":"main.go"
  },
  "default_transport":"http"
}