
    return func(ctx context.Context, request interface{}) (interface{}, error) {
            req := request.({{.Request.Name}})
            {{range $i,$v := .Calling.Results}}{{$v.Name}}{{if not (last $i $.Calling.Results)}},{{end}}{{end}} := svc.{{.Calling.Name}}(ctx,{{range $i,$v := .Request.Vars}} req.{{$v.Name}}{{if not (last $i $.Request.Vars)}},{{end}}{{end}})
            return {{.Response.Name}}{ {{range $i,$v := $.Calling.Results}}{{toUpperFirst $v.Name}}:{{$v.Name}}{{if not (last $i $.Calling.Results)}},{{end}}{{end}} }, nil
    }