{{if ne .Comment ""}}{{.Comment}}{{end}}func {{template "interface_func" .}} { {{if not (eq .Body "")}}{{.Body}}{{else}}
{{if gt (len .Results) 0}}return {{template "func_return" .Results}}
{{end}}  {{end}}
}